<h2>All Products</h2>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="well">
        <h2><a href="/products/<%= product.id %>"><%= product.name %></a></h2>
        <p><%= product.dollar_price %></p>
        <img src="<%= product.image %>">
        <p><%= product.description %></p>
      </div>  
    </div>  
  <% end %>
</div>