<h1>Product Info</h1>
<section>
  <div class="container-fluid">
    <div class="row">    
      <div class="col-md-4">
        <h2><%= @product.name %></h2>
        <% if @product.discounted? %>
          <p class="discount-item">Price: <%= number_to_currency(@product.price) %></p>
          <p>Discount Item!</p>
        <% else %>
          <p>Price: <%= number_to_currency(@product.price) %></p>
          <p>Description: <%= @product.description %></p>
          <p><em>Quotidian Worth; Our Promise to</em> <strong>YOU</strong>!</p>
        <% end %>
        <p>Tax: <%= number_to_currency(@product.tax) %></p>
        <p>Total: <%= number_to_currency(@product.total) %></p>
        <p>Supplier: <%= @product.supplier.name %></p>
      </div>
      <div>
        <h3>Categories: 
          <% @product.categories.each do |category| %>
            <a href="/products?category_name=<%= category.name %>"><%= category.name %></a>
          <% end %>
        </h3>
      </div>
      <div class="col-md-8">
        <% @product.images.each do |image| %>
          <div class="img">
            <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
          </div>
        <% end %>
      </div>
        <%= form_tag "/carted_products", method: :post do %>
          <div>
            <%= label_tag :quantity %>
            <%= text_field_tag :quantity %>
          </div>
          <div>
            <%= hidden_field_tag :product_id, @product.id %>
          </div>
          <%= submit_tag "Add to Cart!" %>
        <% end %>
        <div>
          <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
          <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </div>  
</section>